.env
.vscode
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
# Ignore prebuilt dependencies
java-project/_desktop-ui/src/main/resources/jars/
java-project/_auth-service/src/main/resources/public/assets