# spring boot init
RUBILNIK_AUTH_SERVICE_PORT=

# Database Connection
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Connection Pool Size
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=10

# Hibernate Settings
SPRING_JPA_HIBERNATE_DDL_AUTO=create
SPRING_JPA_SHOW_SQL=false

# default rubilnik user created
RUBILNIK_DEF_USR_NAME=
RUBILNIK_DEF_USR_EMAIL=
RUBILNIK_DEF_USR_PASSWORD=

# spring mail host
ENCRYPTION_KEY=
EMAIL=
EMAIL_PASSWORD=